{% extends 'layout.html' %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<div class="fh5co-loader"></div>

	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<!-- <div class="top-menu"> -->
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center logo-wrap">
						<div id="fh5co-logo"><a href="/main"><span>L</span>ook <span>A</span>fter a Child<span>.</span></a></div>
					</div>
					<div class="col-xs-12 text-center menu-1 menu-wrap">
						<ul>
							<li><a href="/main">Home</a></li>
							<li><a href="/about">About Us</a></li>
							<li class="has-dropdown">
								<a href="/results">Maps</a>
								<ul class="dropdown">
									<li class="active"><a href="/results">시/도</a></li>
									<li><a href="/results2">시/군/구</a></li>
								</ul>
							</li>
							<li class="has-dropdown active">
                                <a href="/inquire">Data Handling</a>
                                <ul class="dropdown">
									<li><a href="/inquire">조회하기</a></li>
									<li><a href="/putData">정보입력</a></li>
								</ul>
							</li>
                            <li><a href="/diary">Diary</a></li>
                            <li><a href="/sketch">Sketch</a></li>
						</ul>
					</div>
				</div>

			</div>
		<!-- </div> -->
	</nav>


    <div id="fh5co-about" class="fh5co-section" style="background-image: url(/static/images/watercolour.jpg);">
        <!--div class="overlay"></div-->
		<div class="container">
            <!--
			<div class="row">
				<div class="col-md-5 col-md-push-1 animate-box">
					<div class="section-heading">
					-->
                        <div class="checks">
                            <form action="/inquire" method="POST">

                                <!--span style="color:blue"><br>개별사건번호 </span>
                                <input name="case_num" value="" type="text" id="birthday" placeholder="ex)5722572220181200160001" />

                                <span style="color:blue"><br>피해아동대상자ID </span>
                                <input name="child_id" value="" type="text" id="birthday" placeholder="ex)CASRCP20190100282" /-->

                                <button type="submit" style="color:black">조회하기</button>
                                <table class="table">
                                <thead>
                                <tr class="thead-dark">
                                    <th>번호</th>
                                    <th>개별사건번호</th>
                                    <th>피해아동대상자ID</th>
                                    <th>학대행위자대상자ID</th>
                                    <th>통계 거점</th>
                                    <th>학대혐의여부</th>
                                    <th>재학대가능성</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% if inquire_results %}
                                        {% for result in inquire_results %}
                                            <tr>
                                                <td> {{ loop.index }} </td>
                                                <td> {{ result[0] }} </td>
                                                <td> {{ result[1] }} </td>
                                                <td> {{ result[2] }} </td>
                                                <td> {{ result[3] }} </td>
                                                <td> {{ result[4] }} </td>
                                                <td> 아직 값 없음 </td>
                                            <tr>
                                        {% endfor %}
                                    {% else %}
                                        <td colspan='3'> 조회 결과가 없습니다. </td>
                                    {% endif %}
                                <!--{% if inquire_results %}
                                    {% for inquired_data in inquire_results.item %}
                                        <tr>
                                            <td> {{ loop.index }} </td>
                                            <td> {{ inquire_results[i][0] }}
                                            <td> {{ inquire_results[i][1] }} </td>
                                            <td> {{ inquire_results[i][2] }} </td>
                                            <td> {{ inquire_results[i][37] }} </td>
                                            <td> {{ inquire_results[i][50] }} </td>
                                            <td> 아직 값 없음 </td>
                                        <tr>
                                    {% endfor %}
                                {% else %}
                                    <td colspan='3'> 조회 결과가 없습니다. </td>
                                {% endif %}-->
                                </tbody>
                            </table>
                            </form>
                        </div>
                        

					<!--
					</div>
				</div>
			</div>
			-->
		</div>
	</div>

</body>
{% endblock %}